# Dependencies
node_modules/

# Environment
.env
.env.example
.env.local
.env.*.local

# Firebase
firebase-config.json
.firebase/

# Build output
dist/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store

order-management-system-tm4u-firebase-adminsdk-fbsvc-ef2e237c3f.json
firestore_config.ipynb